@model IEnumerable<dynamic>
@using Microsoft.AspNetCore.Mvc.Localization
<header>
    <style>
        header.container{
            width: 100%
        }
        
        body {
            background-color: white;
            color: black;
        }

        ul {
            padding: 20px 0;
            margin: 20px 0;
        }

        li {
            padding: 20px 0;
        }

        header {
            background-color: Black;
            width:100%;
            color: white;
            margin: 20px 0;
            text-align: center;
        }
    </style>

    <h1>@T.Plural(Model.Count(), $"You subscribed for {Model.Count()} training", $"You subscribed for {Model.Count()} trainings")</h1>

    <strong>@T.Plural(Model.Count(), "The training you subscribed for:", "The trainings you subscribed for:")</strong>

</header>
<body>

    <ul>
        @foreach (var shape in Model)
        {
            <li>

                @await DisplayAsync(shape)

            </li>
        }
    </ul>

</body>