@model IEnumerable<dynamic>
@using Microsoft.AspNetCore.Mvc.Localization

<header>
    <style>
        body {
            background-color: white;
            color: black;
        }

        ul {
            padding: 20px 0;
            margin: 20px 0;
        }

        li {
            padding: 20px 0;
        }

        header {
            background-color: Black;
            color: white;
            margin: 20px 0;
            text-align: center;
        }
    </style>

    <h1>@T["They are all our coaches!"]</h1>

</header>
<body>
    <ul>
        @foreach (var shape in Model)
        {
            <li>
                @await DisplayAsync(shape)
            </li>
        }
    </ul>
</body>